// .h1,
// .h2,
// .h3,
// .h4,
// .h5,
// .h6,
// h1,
// h2,
// h3,
// h4,
// h5,
// h6 {
//   font-weight: bold;
// }
// .overflow-x-hidden{
//   overflow-x: hidden!important;
// }
.wp-caption-text {
  color: $gray-600;
}

.loop-head {
  .text-muted {
    line-height: 2;
  }
}

.blog-post-content {
  line-height: 1.8;

  h3 {
    margin-bottom: 1rem;
  }

  h4,
  h5,
  h6 {
    margin-bottom: 1.33rem;
  }
}

/* =WordPress Core
-------------------------------------------------------------- */
.alignnone {
  margin: 5px 20px 20px 0;
}

.aligncenter,
div.aligncenter {
  display: block;
  margin: 5px auto;
}

.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

.aligncenter {
  display: block;
  margin: 5px auto;
}

a img.alignright {
  float: right;
  margin: 5px 0 20px 20px;
}

a img.alignnone {
  margin: 5px 20px 20px 0;
}

a img.alignleft {
  float: left;
  margin: 5px 20px 20px 0;
}

a img.aligncenter {
  display: block;
  margin-right: auto;
  margin-left: auto;
}

.wp-caption {
  max-width: 96%;

  /* Image does not overflow the content area */
  padding: 5px 3px 10px;
  text-align: center;
  background: #fff;
  // border: 1px solid #f0f0f0;
}

.wp-caption.alignnone {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignleft {
  margin: 5px 20px 20px 0;
}

.wp-caption.alignright {
  margin: 5px 0 20px 20px;
}

.wp-caption img {
  width: auto;
  max-width: 98.5%;
  height: auto;
  padding: 0;
  margin: 0;
  border: 0 none;
}

.wp-caption p.wp-caption-text {
  padding: 0 4px 5px;
  margin: 0;
  font-size: 11px;
  line-height: 17px;
}


// Bootstrap
.modal-backdrop {
  z-index: 1044;
}
