.blog-header-logo {
  width: 193px;
  height: 37px;
  text-indent: -9999em;
  background: url(../images/logo-black.png) no-repeat;
}

.site-nav {
  border-bottom: 1px solid #e5e5e5;
}

.home {
  .site-nav {
    border-bottom: none;
  }
}

.face-container {
  .face {
    width: 46px;
    height: 46px;

    .fa-user-circle {
      width: 46px;
      height: 46px;
      font-size: 46px;
    }
  }
}
